.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.area {
  width: 50%;
  height: 30vh;
  border: 1px solid black;
  border-radius: 20px;
  margin: 0 auto;
  background-color: rgb(202, 229, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
}
@media screen and (max-width: 800px) {
  .area {
    width: 90%;
  }
}
#uploadedfiles {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: baseline;
  overflow: auto;
}
.thumbnail {
  width: 100px;
  max-width: 100%;
  height: 100px;
}
.thumbnail-bg {
  background-color: white;
  padding: 6px;
  position: relative;
}
.remove-text{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.34);
  padding: 6px 0;
  color: white;
  text-align: center;
  z-index: 10;
}
.remove-text:hover{
  text-decoration: underline;
}
#area-text {
  text-align: center;
}

.click-here-btn{
  color: rgb(0, 102, 255);
}
.click-here-btn:hover{
 text-decoration: underline;
}
